@import '../../../../assets/styles/constants.less';
.git-text-config {
  display: flex;
  flex-direction: column;
  .ant-form {
    flex: none;
  }
  .git-file-editor {
    flex: 1;
    overflow: auto;
  }
}