@import '~antd/es/style/themes/default.less';
.initGuide {
  height: 100%;
  overflow: auto;
  :global(.ant-form) {
    width: 400px;
    display: block;
    margin: 20px auto;
  }
}
.formLine {
  border-bottom: 1px dashed @border-color-split;
  padding: 0 0 5px 10px;
  margin-bottom: 5px;
}
.btnSubmit {
  width: 100%;
}