
.projectEditPanel {
  .projectPanelTop {

  }

  .projectEditContent {
    width: 80%;
    margin: auto;
    .rowMargin {
      margin: 10px 0;
      .colFlex {
        display: flex;
        align-items: center;
        div:nth-child( n+2 ){
          margin-left: 20px;
          .radio {
            display: inline-block; 
          }
        }
      }
    }
  }
}