.main,.left-guide,.content
  height: 100%
.main
  display: flex
  flex-direction: row
  .left-guide
    width: 96px
    flex: none
  .content
    flex: 1
    overflow: auto
    background: #fff
    padding: 20px