.tabsForm {
  :global(.ant-tabs) {
    border: 1px solid rgba(0, 0, 0, .1);
    height: 400px;
    background-color: white;
    :global(.ant-tabs-nav){
      width: 200px;
      :global(.ant-tabs-tab-btn){
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    :global(.ant-tabs-content-holder){
      :global(.ant-tabs-tabpane){
        .tabpaneContent{
          height: 400px;
          overflow: scroll;
          padding: 10px;
        }
      }
    }
  }
}

.tarResult {
  background-color: #fff;
  padding: 20px;
  height: 200px;
  overflow: scroll;
}